.header {
  padding: 12px 20px;
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
  font-family: "Roboto", sans-serif;
}

.footer {
  border-top: 1px solid #f0f0f0;
  padding: 14px 24px;
}

.container {
  padding: 16px;
  padding-top: 0;
  flex: 1;
  overflow-y: auto;
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
  gap: 8px;
  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 14px;
    border-radius: 80px;
    background-color: #2962ff;
  }
}

.tree {
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  max-width: 100%;

  :global {
    .tree-item-wrapper {
      flex-wrap: wrap;
    }
    .ant-tree-title {
      display: flex;
    }
    .ant-tree-node-content-wrapper {
      padding-left: 0;
      cursor: default;
    }
    .ant-tree-switcher {
      background: #fff;
      border-radius: 0;
      width: fit-content;
    }
    .ant-tree-switcher-noop {
      visibility: hidden;
    }
  }
  :global(.ant-tree-list) {
    background-color: #f5f5f5;
  }
  :global(.ant-tree-treenode),
  :global(.ant-tree-node-content-wrapper) {
    &:hover {
      background-color: #f5f5f5;
    }
    &:global(.ant-tree-node-selected) {
      .treeTitle,
      .treeValue {
        background-color: #dbe4fb !important;
      }
    }
  }
  :global(.ant-tree-node-selected) {
    .nodeTitle,
    .nodeExample {
      background: #dbe4fb !important;
    }
  }
}

.nodeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
  word-break: break-all;
  white-space: wrap;
}

.nodeExample {
  word-break: break-all;

  padding: 2px 4px;
  background: #fff;
  width: 50px;
}
