.pageBody {
  width: 100%;
  height: 100%;
  position: relative;
}

.leftWrapper {
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  background-color: #fff;
  min-width: 201px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }

  :global {
    .ant-spin-nested-loading {
      flex: 1;
      min-width: 0;
    }
  }

  .draggableSide {
    height: 100%;
    min-width: 1px;
    background-color: lightgray;
    cursor: ew-resize;
    z-index: 100;
  
    &:hover {
      background-color: var(--primary);
    }
    
    &.interactive {
      position: absolute;
    }
  }
}

.envWrapper {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #dde1e5;
}
.componentIconWrapper {
  width: 17px;
  border-radius: 5px;
  padding: 4px;
  background-color: #91d5ff;
  > svg {
    display: block;
  }
}
.envItem {
  box-sizing: border-box;
  flex: 0 0 calc(50% - 4px);
  width: calc(50% - 4px);
  border-radius: 4px;
  background-color: #f0f2f5;
  padding: 4px 8px;
}
.list {
  width: 100%;
  :global(.ant-list-items) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  :global(.ant-list-item) {
    padding: 0;
    border-block-end: unset;
  }
}
.item {
  padding: 2px 24px;
  cursor: pointer;
}
.activeItem {
  background-color: #e6f7ff;
  color: #096dd9;
  border-right: 3px solid #2962ff;
}
.modalCreate {
  :global {
    .ant-modal-confirm-btns {
      margin-top: 24px;
    }
    .ant-modal-content {
      padding: 32px !important;
    }
  }
}
.versionListWrapper {
  flex: 1;
  border-left: 1px solid #f0f0f0;
  min-width: 840px;
}

.empty {
  height: 100%;
  background: #fff;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
