.table {
  :global {
    .ant-table-content {
      border: 1px solid #f0f0f0;
      border-radius: 8px;
    }
    td {
      border-bottom: 0 !important;
    }
  }
}

.basicDetailTable {
  @extend .table;
  margin: 12px 0;
}

.environment {
  @extend .table;
  margin-top: 12px;
  .environmentTable {
    margin-top: 12px;
  }
}

.modalFooter {
  margin-top: 24px;
}
