.breadcrumb {
  padding-bottom: 16px;
  width: 100%;
}
.container {
  width: 100%;
  height: 100%;
  :global {
    #tab-mapping > .ant-tabs-nav {
      margin-bottom: 2px;
    }
    .ant-tabs,
    .ant-tabs-content,
    .ant-tabs-tabpane-active {
      flex: 1;
      height: 100%;
    }
  }
}

.newMainWrapper {
  flex: 1;
  height: 100%;
  padding: 8px 20px 16px;
  background-color: #fff;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
}

.mainWrapper {
  min-width: 800px;
  flex: 1;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  > .center {
    box-sizing: border-box;
    flex: 1;
    height: 100%;
    border-radius: 0 4px 4px 0;
    background-color: #fff;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    &::-webkit-scrollbar {
      display: block !important;
      height: 18px;
    }

    &::-webkit-scrollbar-thumb {
      border: 6px solid rgba(0, 0, 0, 0);
      background-clip: padding-box;
      border-radius: 8px;
      background-color: #dde1e5;
      &:hover {
        background-color: #f7f7f7;
      }
    }
  }
  > .right {
    box-sizing: border-box;
    flex: 0 0 300px;
    border: 1px solid #2962ff;
    height: 100%;
    border-radius: 4px;
    background-color: #fff;
    overflow-y: auto;
    min-width: 300px;
  }
}
.buttonsWrapper {
  align-self: flex-end;
  padding: 12px 20px;
  background-color: #f0f2f5;
  :global(.ant-btn-primary:disabled) {
    color: #fff;
    background-color: #1677ff;
    box-shadow: 0 2px 0 rgba(5, 145, 255, 0.1);
    opacity: 0.4;
  }
}
.revertButton {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 32px;
  padding: 0;

  :global {
    svg {
      width: 14px;
      height: 14px;
    }
  }
}

.infoBox {
  font-weight: 400;
  color: rgba($color: #000000, $alpha: 0.45);
  font-size: 12px;
}

.isRequiredMapping {
  padding: 19px 16px;
  border-radius: 4px;
  background: #f2f5fe;
}

.btnSave {
  svg {
    color: #8c8c8c;
  }
  &:hover {
    svg {
      color: #4096ff;
    }
  }
}

.versionWrapper {
  flex: 1;
  padding: 14px;
  border-bottom: 1px solid #f0f0f0;
}

.newContent {
  min-width: 800px;
  flex: 1;
  width: 100%;
  height: 100%;
  max-width: 100%;
  overflow-y: auto;
}
