.tooltip {
  :global {
    .ant-tooltip-arrow::before {
      background-color: #fff !important;
    }

    .ant-tooltip-arrow {
      left: 240px;
    }

    .ant-tooltip-inner {
      width: 320px;
      padding: 10px;
      background: #fff;
      word-wrap: break-word;
    }
  }
}
