.sonataAPIBasicInfoWrapper {
  box-sizing: border-box;
  padding: 18px 20px;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  background-color: #f0f2f5;
}
.sellerAPIBasicInfoWrapper {
  box-sizing: border-box;
  padding: 18px 20px;
  border-radius: 6px;
  border: 1px solid #dde1e5;
}
