.sonataAPIBasicInfoWrapper {
  flex: 0 0 calc(50% - 30px);
  width: calc(50% - 30px);
  box-sizing: border-box;
  padding: 18px 20px;
  border-radius: 6px;
  border: 1px solid #f0f0f0;
  background-color: #f0f2f5;
}
.sellerAPIBasicInfoWrapper {
  flex: 0 0 calc(50% - 30px);
  width: calc(50% - 30px);
  box-sizing: border-box;
  padding: 18px 20px;
  border-radius: 6px;
  border: 1px solid #dde1e5;
  cursor: pointer;
  &.highlight {
    border-color: #2962ff;
  }
}
.collapse {
  margin-top: 26px;
  > :global(.ant-collapse-item) {
    > :global(.ant-collapse-header) {
      padding-inline: 0;
    }
    > :global(.ant-collapse-content) {
      > :global(.ant-collapse-content-box) {
        padding-inline: 0;
      }
    }
  }
}
