.content {
  border-radius: 4px;
  overflow-y: auto;
  height: calc(100vh - 164px);

  :global {
    .ant-card-head,
    .ant-card-body {
      padding-left: 20px;
      padding-right: 20px;
    }

    .expand-table {
      box-sizing: border-box;

      table {
        table-layout: fixed !important;
      }
    }

    .ant-table {
      border-radius: 8px;
    }

    .ant-table-expanded-row-level-1 {
      td {
        background: #fff !important;
      }

      .ant-table-cell {
        padding: 0;
      }
    }

    .ant-table-row-level-0 {
      td {
        background: #fafafa;
      }
    }

    .ant-table-tbody {
      tr:first-child {
        td:first-child {
          border-top-left-radius: 8px;
        }

        td:last-child {
          border-top-right-radius: 8px;
        }
      }

      tr:last-child {
        td:first-child {
          border-bottom-left-radius: 8px;
        }

        td:last-child {
          border-bottom-right-radius: 8px;
        }

        td {
          border-bottom: none;
        }
      }
    }
  }
}

.seller-api-tabs-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
}

.contactInformation-field {
  &-label {
    margin: 8px 0;
  }
  &-value {
    margin-bottom: 20px;
  }
}

.contacts-icon {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.alert {
  margin-bottom: 20px;
  border: none;
}
