.root {
  display: flex;
  background: #f0f2f5;
  height: calc(100vh - 78px);
  width: calc(100vw - 240px);
  min-width: 800px;
  :global {
    .ant-form-item {
      margin-bottom: 18px;
    }
  }
}

.container {
  padding: 20px;
  width: 100%;
  min-width: 800px;
  display: flex;
  flex-direction: column;
}

.paper {
  margin-top: 4px;
  background: #fff;
  padding: 16px 20px;
}
