.headWrapper {
  padding: 16px 24px;
  border-bottom: 1px solid #f0f0f0;
}
.filterWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;
  :global(.ant-form-item label) {
    color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.45)));
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  :global(.ant-form-item input::placeholder) {
    color: var(
      --character-disabled-placeholder-25,
      var(--text-disabled-placeholder, rgba(0, 0, 0, 0.25))
    );
  }
  :global(.ant-form-item .ant-select-selection-placeholder) {
    color: var(--Texts-Primary, var(--Text-primary, rgba(0, 0, 0, 0.85)));
  }
}

.table {
  max-width: 100%;

  &:global(.ant-table-wrapper) {
    .expandedRowWrapper {
      :global(.ant-table-cell) {
        padding: 0 24px;
      }
    }
    :global(.ant-table-cell-fix-left-last::after) {
      content: unset;
    }
  }
}

.tree {
  margin-top: 12px;
  padding: 13px 0 0;
  :global {
    .ant-tree-list {
      background-color: #fafafa;
    }
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      width: 100%;
      &:hover {
        background-color: #fafafa;
      }
    }
  }
}

.treeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
}

.treeExample {
  padding: 2px 4px;
  background: #fff;
}

.hovering {
  .rowHoverOnly {
    display: none;
  }
  &:hover {
    .rowHoverOnly {
      display: initial;
    }
  }
}

.breadHeader {
  display: flex;
  align-items: center;
  color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.85)));
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}
.breadItem {
  color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.45)));
  font-size: 16px;
  cursor: default;
}
.contentWrapper {
  height: 100%;
  border-radius: 4px;
  background: var(--Page-container-bg, #fff);
  padding: 16px 20px;
  display: flex;
  flex-direction: column;

  :global {
    .ant-tabs-nav-operations {
      display: none !important;
    }
  }
}

.inputPath {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}

.tableWrapper {
  flex: 1;
}

.statusIcon {
  &-success {
    padding-right: 3px;
    color: #389e0d;
  }
  &-warn {
    padding-right: 3px;
    color: #fa8c16;
  }
  &-error {
    padding-right: 3px;
    color: #cf1322;
  }
}

.presetMenu {
  text-align: left;
  padding-left: 10px;
  &:hover {
    background-color: #f5f5f5;
  }
}

.productSpec {
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  p {
    text-align: left !important;
    line-height: 1.2;
    margin: 0;
  }
}
