.pageWrapper {
  height: 100%;
}
.leftWrapper {
  flex: 0 0 240px;
  width: 240px;
  border: 1px solid #d9d9d9;
}
.leftBottomWrapper {
  padding: 7px 10px;
  .switcherBtn {
    align-self: flex-end;
    border: 0;
    background-color: #f5f5f5;
    color: #98a1a8;
  }
}
.list {
  width: 100%;
  padding: 16px 0;

  :global(.ant-list-items) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  :global(.ant-list-item) {
    padding: 0;
  }
}
.item {
  padding: 2px 24px;
  cursor: pointer;
}
.activeItem {
  background-color: #e6f7ff;
  color: #096dd9;
}
.mainWrapper {
  flex: 1;
  padding: 26px 20px 10px;
  background-color: #f0f2f5;
}
