.pageWrapper {
  height: -webkit-fill-available;
  padding: 10px 20px;
  background-color: #f0f2f5;
}
.leftWrapper {
  flex: 1;
  background-color: #fff;
  padding: 16px 0px;
  min-width: 240px;
  max-width: 338px;
}
.envWrapper {
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid #dde1e5;
}
.componentIconWrapper {
  width: 17px;
  border-radius: 5px;
  padding: 4px;
  background-color: #91d5ff;
  > svg {
    display: block;
  }
}
.envItem {
  box-sizing: border-box;
  flex: 0 0 calc(50% - 4px);
  width: calc(50% - 4px);
  border-radius: 4px;
  background-color: #f0f2f5;
  padding: 4px 8px;
}
.list {
  width: 100%;
  :global(.ant-list-items) {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
  :global(.ant-list-item) {
    padding: 0;
    border-block-end: unset;
  }
}
.item {
  padding: 2px 24px;
  cursor: pointer;
}
.activeItem {
  background-color: #e6f7ff;
  color: #096dd9;
  border-right: 3px solid #2962ff;
}
.mainWrapper {
  flex: 1;
  padding-left: 1px;
  background-color: #f0f2f5;
}

.modalCreate {
  :global {
    .ant-modal-confirm-btns {
      margin-top: 24px;
    }
    .ant-modal-content {
      padding: 32px !important;
    }
  }
}
.versionListWrapper {
  flex: 1;
}
