.wrapper {
  background: #fff;
  padding: 15px;
  border-radius: 8px;
}

.iconContainer {
  width: 20px;
}

.guideContainer {
  justify-content: center;
  align-items: center;
}

.stepContainer {
  display: flex;
  justify-content: center;
  padding: 20px 20px 24px 20px;
  border-radius: 8px;
  width: 100%;
  background: linear-gradient(
    101.79deg,
    rgba(112, 137, 223, 0.9) 22.08%,
    rgba(106, 217, 178, 0.9) 106.71%
  );
  vertical-align: middle;

  .diagram {
    content: url("../../../assets/home/chart.svg");
    margin-top: 20px;
    width: -webkit-fill-available;
    max-width: 1200px;
    max-height: 372px;
    align-content: center;
  }

  .arrow {
    svg {
      height: auto;
      max-width: 100%;
    }
  }
}

.apiContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 262px;
  padding: 16px 24px;
  border-radius: 8px;
  background: #f6f7fa;

  img {
    width: 48px;
    height: 48px;
  }
  .titleContainer {
    width: calc(100% - 56px);
    margin-left: 8px;
  }
  .title {
    color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.45)));
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;

    max-width: 100%;
    b {
      color: #000;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: 28px;
      margin-right: 8px;
      max-width: 70%;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
    span {
      display: flex;

      height: 18px;
      width: 18px;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      background: var(--Beehive-Green-Green, #13c2c2);
      color: var(--Color, #fff);
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      margin-right: 4px;
    }
  }
  .desc {
    overflow: hidden;
    color: #717788;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    width: 100%;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    line-clamp: 3;
    -webkit-line-clamp: 4;
    margin: 8px 0 4px;
  }

  :global(.ant-divider) {
    margin: 12px 0;
  }
  .typeInfo {
    color: var(
      --character-primary-85,
      var(--Text-primary, rgba(0, 0, 0, 0.85))
    );
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    :global(.ant-col) {
      color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.45)));
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 20px;
    }
    .tagInfo {
      border-radius: 4px;
      border: 1px solid var(--Border-Regular, #dde1e5);
      background: var(--Background-Background_primary, #fff);
      display: flex;
      padding: 1px 8px;
      justify-content: center;
      align-items: center;
      color: black;
    }
  }
}

.apiContainer:hover {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 262px;
  padding: 16px 24px;
  border-radius: 8px;
  background: #f6f7fa;
  box-shadow: #e2e2e2 3px 3px 3px;
}

.tags {
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  background: var(--Neutral-3, #ffffff);
  color: var(--Neutral-8, var(--Icon-Clickable-Normal, #595959));
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  span {
    color: var(--Accent-Accent_green, #52c41a);
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    margin-left: 8px;
  }
}
.envTag {
  background: var(--card-bg, #f0f2f5);
  padding: 4px 8px;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  color: var(--Texts-Secondary, var(--Text-secondary, rgba(0, 0, 0, 0.45)));
}

.tipsOverlay {
  ::-webkit-scrollbar {
    width: 18px;
  }

  ::-webkit-scrollbar-thumb {
    border: 6px solid rgba(0, 0, 0, 0);
    background-clip: padding-box;
    border-radius: 8px;
    background-color: #dde1e5;
    &:hover {
      background-color: #f7f7f7;
    }
  }
  :global(.ant-tooltip-content .ant-tooltip-inner) {
    max-height: 250px;
    overflow-y: auto;
  }
}
