.wrapper {
  margin-left: 20px;
  max-width: calc(100% - 35px);
  flex-wrap: wrap;
  gap: 3px;
}

.tag {
  max-width: 100%;
  margin-right: 3px;
}

.tagContainer {
  max-width: 100%;
}

.tagBadge {
  line-height: 12px;
  margin: 3px 0;
  font-size: 10px;
}

.tagLabel {
  font-size: 8px;
  color: rgba(0, 0, 0, 0.45);
  line-height: 12px;
}

.tagActive {
  color:#2962FF !important;
  font-weight: 500;
}
