---
version: '3.8'
networks:
  kraken-dev:
services:
  db-data-plane:
    image: 'postgres:latest'
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgresql
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kraken
    volumes:
      - './postgres_db_data/data-plane:/var/lib/postgresql/data:z'
    command: postgres -c 'max_connections=1000'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - kraken-dev
  db-control-plane:
    image: 'postgres:latest'
    ports:
      - '5433:5432'
    environment:
      POSTGRES_USER: postgresql
      POSTGRES_PASSWORD: password
      POSTGRES_DB: kraken
    volumes:
      - './postgres_db_data/control-plane:/var/lib/postgresql/data:z'
    command: postgres -c 'max_connections=1000'
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U ${POSTGRES_USER} -d ${POSTGRES_DB}"]
      interval: 10s
      retries: 5
      start_period: 30s
      timeout: 10s
    networks:
      - kraken-dev
  kraken-app-portal:
    image: cloudnexusopsdockerhub/kraken-app-portal:latest
    ports:
      - '3000:8080'
    environment:
      RUNTIME_BASE_API: http://localhost:8001
    networks:
      - kraken-dev
  kraken-app-hub:
    image: cloudnexusopsdockerhub/kraken-app-hub:latest
    volumes:
      - >-
        ./app-hub/application-default.yaml:/opt/app/config/application-default.yaml:ro
    ports:
      - '8000:8080'
    links:
      - db-data-plane
    depends_on:
      db-data-plane:
        condition: service_healthy
    networks:
      - kraken-dev
  kraken-app-controller:
    image: cloudnexusopsdockerhub/kraken-app-controller:latest
    volumes:
      - >-
        ./app-controller/application-default.yaml:/opt/app/config/application-default.yaml:ro
    ports:
      - '8001:8080'
    links:
      - db-control-plane
    depends_on:
      db-control-plane:
        condition: service_healthy
    networks:
      - kraken-dev
  kraken-app-agent:
    image: cloudnexusopsdockerhub/kraken-app-agent:latest
    environment:
      CONTROL_PLANE_TOKEN: eyJraWQiOiJrcmFrZW4iLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJmYzVmNjE2NS1hYTIwLTQ3OTgtYTllZS03OGFmYmUzY2YwNmQiLCJwcm9kdWN0SWQiOiJtZWYuc29uYXRhIiwicm9sZXMiOlsiQVBJX0NMSUVOVCJdLCJlbnZJZCI6IjJmZDkyMjQ0LWE4ZDEtNDNmYy1iNzZkLWQ4N2ZmYjAxNzJmNCIsImlhdCI6MTc0ODQ5NzE4MiwiZXhwIjoxOTA2MTc3MTgyLCJpc3MiOiJodHRwczovL2tyYWtlbi5jb25zb2xlY29ubmVjdC5jb20vaXNzdWVyIn0._UcT_Fjv6zvnSEwmo-gJ8LQXPZCO4FmsrHhEPskvrM4
    volumes:
      - >-
        ./app-agent/application-default.yaml:/opt/app/config/application-default.yaml:ro
    ports:
      - '8002:8080'
    links:
      - db-data-plane
      - kraken-app-controller
      - kraken-app-hub
    depends_on:
      db-data-plane:
        condition: service_healthy
    networks:
      - kraken-dev
