.tree {
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  max-width: 100%;
  max-height: 500px;
  overflow: auto;

  :global(.ant-tree-list) {
    background-color: #f5f5f5;
  }
  :global(.ant-tree-treenode),
  :global(.ant-tree-node-content-wrapper) {
    width: 100%;
    &:hover {
      background-color: #f5f5f5;
    }
    &:global(.ant-tree-node-selected) {
      .treeTitle,
      .treeValue {
        background-color: #bae7ff;
      }
    }
  }
  :global(.ant-tree-node-selected) {
    .nodeTitle,
    .nodeExample {
      background: #bae7ff;
    }
  }
}

.nodeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
  word-break: break-all;
}

.nodeExample {
  word-break: break-all;

  padding: 2px 4px;
  background: #fff;
  width: 50px;
}

.root {
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}

.header {
  padding: 16px 20px;
  box-shadow: 0px -1px 0px 0px #f0f0f0 inset;
}

.container {
  padding: 16px;
  flex: 1;
  overflow-y: auto;
}

.footer {
  border-top: 1px solid #f0f0f0;
  padding: 14px 24px;
}
