.selectStyle {
  display: flex;
  :global {
    .ant-select:not(.ant-select-customize-input) .ant-select-selector,
    .ant-select-focused {
      background-color: transparent;
      border: 0;
      box-shadow: none !important;
    }
    .ant-select-arrow {
      color: black;
    }
  }
}

.componentIconWrapper {
  > svg {
    display: block;
  }
}

.componentSelect {
  &:hover {
    background: #e3e6eb;
    border-radius: 2px;
  }
  :global {
    .ant-select-selection-item {
      padding-inline-end: 0 !important;
    }
    .ant-select-selector {
      padding: 0 11px 0 0 !important;
    }
    .ant-typography {
      color: #00000073;
    }
    .ant-select-arrow {
      color: #00000073;
    }
  }
}
