.root {
  border: 1px solid #dde1e5;
  border-radius: 4px;
  padding-bottom: 12px;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 12px 8px;
  background: #f5f5f5;
}

.container {
  padding: 12px;
  svg {
    width: 28px;
  }
}

.target {
  background: #f0f2f5;
  border-radius: 4px;
  padding: 0 8px;
  width: calc(50% - 30px);
  box-sizing: border-box;
  user-select: none;
}

.input {
  background: #f0f2f5;
  overflow: hidden;
  text-overflow: ellipsis;
}

.stateSelect {
  :global {
    .ant-select-selector {
      border-radius: 2px !important;
    }
  }
}

.itemContainer {
  padding: 0 12px;
}

.selectPopup {
  visibility: hidden;
}

.rootRequired {
  border-color: #ff9a2e;
}

.activeInput {
  border-radius: 2px;
  border: 1px solid #165dff;
  background-color: #fff;
}
