.collapse {
  > :global(.ant-collapse-item) {
    margin-bottom: 16px;
    > :global(.ant-collapse-header) {
      padding: 0;
    }
    > :global(.ant-collapse-content) {
      > :global(.ant-collapse-content-box) {
        padding: 8px 0 0;
      }
    }
  }
}
.tree {
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  max-width: 100%;
  max-height: 300px;
  overflow: auto;

  :global(.ant-tree-list) {
    background-color: #f5f5f5;
  }
  :global(.ant-tree-treenode),
  :global(.ant-tree-node-content-wrapper) {
    width: 100%;
    &:hover {
      background-color: #f5f5f5;
    }
    &:global(.ant-tree-node-selected) {
      .treeTitle,
      .treeValue {
        background-color: #bae7ff;
      }
    }
  }
}

.treeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
}

.treeValue {
  padding: 2px 4px;
  background: #fff;
}
