.table {
  :global {
    .ant-table-content {
      border: 1px solid #f0f0f0;
      border-radius: 8px;
    }
    td {
      border-bottom: 0 !important;
    }
  }
}

.params {
  margin-top: 24px;
}

.apiDetail {
  display: flex;
  margin-top: 24px;
  gap: 24px;
}

.title {
  margin-bottom: 8px;
}

.root {
  :global {
    .ant-tree-node-content-wrapper {
      padding-left: 0;
      cursor: default;
    }
    .ant-tree-switcher {
      background: #fff;
      border-radius: 0;
    }
    .ant-tree-switcher-noop {
      visibility: hidden;
    }
    .ant-tree-list {
      padding-left: 20px;
    }
  }
}
