.pageWrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 16px 20px;
  background-color: #f4f4f4;
}
.sectionWrapper {
  border-radius: 4px;
  padding: 16px 20px;
  background-color: #fff;
}
.overviewItem {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #dde1e5;
  background: #fff;
  padding: 22px 24px;
}
.componentList {
  max-height: 124px;
  align-self: stretch;
  overflow-y: auto;
}
.deploymentFilterWrapper {
  padding: 12px 24px 9px;
  background-color: #fafafa;
}
.deploymentHistoryTableWrapper {
  padding: 24px;
  background-color: #fff;
}
