.pageWrapper {
  box-sizing: border-box;
  height: 100%;
  padding: 16px 20px;
  background-color: #f4f4f4;
}
.runningContainer{

  max-height: 154px;
  overflow: scroll;
  color: var(--Text-primary, rgba(0, 0, 0, 0.85));

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 22px; 
  margin-top: 19px;
  :global(.ant-row){
    margin-bottom: 12px;
    :global(.ant-col:nth-child(2)){
      display: flex;

      padding: 4px 8px;
      border-radius: 8px;
      background: var(--Neutral-3, #F5F5F5);
      color: var(--Text-secondary, rgba(0, 0, 0, 0.45));

      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 130%; 

    }
  }
  .running{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;

  }


}
.sectionWrapper {
  border-radius: 4px;
  padding: 16px 20px;
  background-color: #fff;
}
.overviewItem {
  flex: 1;
  border-radius: 8px;
  border: 1px solid #dde1e5;
  background: #fff;
  padding: 22px 24px;
}
.componentList {
  max-height: 124px;
  align-self: stretch;
  overflow-y: auto;
}
.deploymentFilterWrapper {
  padding: 12px 24px 9px;
  background-color: #fafafa;
}
.deploymentHistoryTableWrapper {
  padding: 24px;
  background-color: #fff;
}
