.collapseBox {
  flex: 1;
  &:global(> .ant-collapse-item) {
    &:global(> .ant-collapse-header) {
      padding-left: 15px;
      overflow-wrap: anywhere;
      border-radius: 0px !important;
      &:hover {
        background-color: rgba(41, 98, 255, 0.2);
        border-right: 3px solid #2962FF;
      }
    }
    &:global(> .ant-collapse-content) {
      &:global(> .ant-collapse-content-box) {
        padding: 0;
        padding-block: 0;
        background-color: #F4F4F4;
        
      }
    }
  }
}
.collapseItem {
  position: relative;
  padding: 15px;
  cursor: pointer;
  &:hover {
    background-color: rgba(41, 98, 255, 0.2);
    border-right: 3px solid #2962FF;
  }

  &:last-child {
    &:after {
      content: '';
      width: 2px;
      height: 30px;
      background: repeating-linear-gradient(
        to bottom,
        rgba(152, 161, 168, 0.7),
        rgba(152, 161, 168, 0.7) 2px,
        transparent 2px,
        transparent 6px
      );
      position: absolute;
      top: 3px;
      left: 20px;
    }
  }
  &:after {
    content: '';
    width: 2px;
    height: 70px;
    background: repeating-linear-gradient(
      to bottom,
      rgba(152, 161, 168, 0.7),
      rgba(152, 161, 168, 0.7) 2px,
      transparent 2px,
      transparent 6px
    );
    position: absolute;
    top: 3px;
    left: 20px;
  }
  &:before {
    content: "";
    width: 2px;
    height: 12px;
    transform: rotateZ(90deg);
    background: repeating-linear-gradient(to bottom, rgba(152, 161, 168, 0.7), rgba(152, 161, 168, 0.7) 2px, transparent 2px, transparent 6px);
    position: absolute;
    top: 25px;
    left: 27px;
  }
}
.collapseItemActive {
  background-color: rgba(41, 98, 255, 0.2);
  border-right: 3px solid #2962FF;
}

.labelWrapper {
  font-weight: 500;
  align-items: center;
  gap: 5px;
}
.highlighted {
  color: #2962FF;
}
.tagBadge {
  line-height: 12px;
  margin-top: 1px;
  font-size: 10px;
  span {
    font-size: 8px;
    color: rgba(0, 0, 0, 0.45);
    line-height: 12px;
  }
}
.tagActive {
  color:#2962FF !important;
  font-weight: 500;
}

.tagBadgeExtra {
  span {
    padding: 3px 10px;
    background: #fff;
    border: 1px solid #DDE1E5;
    border-radius: 15px;
    color: rgba(0, 0, 0, 0.45);
  }
}

.tagTooltipContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 200px;
}

.tagTooltipContainer > .flexItem {
  flex: 1 1 33.33%;
  margin: 5px;
  box-sizing: border-box;
  justify-content: space-between;
  gap: 20px;
}

.dot {
  width: 12px;
  height: 12px;
  background-color: rgba(152, 161, 168, 0.7);
  border-radius: 50%;
  position: relative;
  &:after {
    content: '';
    width: 2px;
    height: 15px;
    background: repeating-linear-gradient(
      to bottom,
      rgba(152, 161, 168, 0.7),
      rgba(152, 161, 168, 0.7) 2px,
      transparent 2px,
      transparent 6px
    );
    position: absolute;
    top: 13px;
    left: 5px;
  }
}

.dottedLine {
  width: 20px;
  height: 12px;
  position: relative;
}