.locationSelector {
  padding: 0;
  width: fit-content;
  height: fit-content;
  font-size: 12px;
  color: #00000073;
  display: flex;
  align-items: center;
  gap: 0px;

  &:disabled {
    cursor: unset;
    color: #00000073;
  }

  :global {
    .ant-btn-icon svg {
      width: 10px;
      height: 10px;
    }

    .ant-select-selector {
      padding: 0 !important;
    }
  }
}

.selectOptionDivider {
  padding: 4px 12px !important;

  .optionDivider {
    margin: 0;
  }
}
