@import "../../../../variables.scss";

.root {
  border: 1px solid #dde1e5;
  border-radius: 4px;

  svg {
    width: 28px;
  }
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 12px 8px;
  background: #f5f5f5;
}

.container {
  padding: 12px;

  svg {
    width: 28px;
  }
}

.sellerPropItemWrapper {
  background: #f2f3f5;
  cursor: pointer;

  input {
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &.error {
    border-color: $error !important;
  }
}

.requestMappingItemWrapper {
  background: $lightgray;
  border-radius: 4px;
  box-sizing: border-box;
  user-select: none;

  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:disabled {
    color: $black !important;
    background: $lightgray !important;
    border: none !important;
    cursor: default;
  }

  &.error {
    border-color: $error !important;
  }
}

.rootRequired {
  border-color: #ff9a2e;
}

.active {
  border-radius: 2px;
  border: 1px solid #165dff;
  background-color: #fff;
}

.itemContainer {
  padding: 0 12px;
}

.selectPopup {
  visibility: hidden;
}

.flexColumn {
  flex-direction: column;
  flex: 1;
}

.mappingIcon {
  margin-bottom: 4px;
}
