.root {
  border: 1px solid #dde1e5;
  border-radius: 4px;
}

.header {
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  padding: 12px 12px 8px;
  background: #f5f5f5;
}

.container {
  padding: 12px;
  svg {
    width: 28px;
  }
}

.sellerPropItemWrapper {
  width: calc(50% - 22px);
  background: #f2f3f5;
  cursor: pointer;
}

.requestMappingItemWrapper {
  background: #f0f2f5;
  padding: 5px 8px;
  border-radius: 4px;
  box-sizing: border-box;
  user-select: none;

  overflow: hidden;
  text-overflow: ellipsis;
  cursor: pointer;

  &:disabled {
    color: #000 !important;
    background: #f0f2f5 !important;
    border: none !important;
    cursor: default;
  }
}

.rootRequired {
  border-color: #ff9a2e;
}

.active {
  border-radius: 2px;
  border: 1px solid #165dff;
  background-color: #fff;
}
