.paper {
  padding: 4px 16px 20px;
  border-radius: 4px;
  background: #ffffff;
  height: 100%;
  :global {
    .ant-tabs-nav {
      margin-bottom: 0;
    }
  }
}

.btn {
  padding: 0;
}

.popconfirm {
  :global {
    .ant-popconfirm-description {
      margin-top: 0 !important;
    }
    .ant-popover-inner {
      width: 20vw;
    }
  }
}
