.root {
  width: 100%;
  padding: 10px 20px;
  background: #ececec;
  min-height: calc(100% - 24px);
}

.paper {
  padding: 16px 20px;
  border-radius: 4px;
  background: #FFFFFF;
  margin-top: 8px;
}
