.tagInfo {
  border-radius: 4px;
  border: 1px solid #dde1e5 !important;
  background: #fff !important;
  display: flex;
  padding: 1px 8px;
  justify-content: center;
  align-items: center;
  color: #00000073 !important;
}
