---
server:
  port: ${port:8000}

spring:
  main:
    web-application-type: reactive
  task:
    scheduling:
      pool:
        size: 2
  codec:
    max-in-memory-size: 500KB
  cloud:
    gateway:
      httpclient:
        connect-timeout: 20000
        pool:
          max-connections: 1500
          type: FIXED
  application:
    name: "@project.artifactId@"
    description: "@project.name@"
  build:
    version: "@project.version@"
  jackson:
    default-property-inclusion: NON_NULL
    deserialization:
      fail-on-unknown-properties: false
  datasource:
    driverClassName: org.postgresql.Driver
    url: ${DB_URL:jdbc:postgresql://localhost:5432/kraken}
    username: ${DB_USERNAME:postgresql}
    password: ${DB_PASSWORD:password}
    hikari:
      pool-name: hikari-platform-service-platform
      connection-test-query: SELECT 1
      maximum-pool-size: 50
      max-lifetime: 600000
      connection-timeout: 60000
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    database: POSTGRESQL
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        jdbc:
          time_zone: UTC
  flyway:
    baseline-on-migrate: true
    enabled: false
management:
  endpoint:
    health:
      show-details: ALWAYS
    gateway:
      enabled: false
  endpoints:
    web:
      base-path: /actuator
      exposure:
        include: health,info,prometheus,gateway
info:
  app:
    encoding: "@project.build.sourceEncoding@"
    java:
      source: "@java.version@"
      target: "@java.version@"

springdoc:
  show-actuator: true
  api-docs:
    enabled: true
    path: /v3/api-docs
  swagger-ui:
    enabled: true
    path: /swagger-ui.html
    supported-submit-methods: ["get", "post", "patch", "delete"]
    config-url: /v3/api-docs/swagger-config
    urls:
      - url: /v3/api-docs
        name: Kraken Hub
  servers:
    - url: http://localhost:8000
      description: localhost
logging:
  level:
    com.consoleconnect.kraken: DEBUG
    # reactor.netty: DEBUG
    # org.springframework.cloud.gateway: DEBUG
    org.springframework.security: DEBUG
app:
  tenant:
    workspacePath: classpath:/mock/kraken.yaml
    componentOperation:
      updatableAssetKinds: kraken.component.api-target-mapper
      enabled: false
  env:
    seller:
      name: kraken
      number: N/A
      role: sellerContact
      emailAddress: support@kraken.com
  filter-headers:
    - token
    - Authorization
    - x-sonata-buyer-key
  filter-paths:
    - /mefApi
  delete-paths:
    - $.error.status
    - $.error.statusCode
  cron-job:
    push-heartbeat: 0/5 * * * * *
    check-release: 0/20 * * * * *
  modify-use-case: "classpath:/config/component-modify-validation.yaml"
  features:
    extendCommonConfig:
      enabled: false
  security:
    resource-server:
      enabled: true
      jwt:
        - issuer: https://kraken.consoleconnect.com/issuer
          key-id: kraken
          secret: ${ACCESS_TOKEN_JWT_SECRET}
      bearer-token-header-name: x-sonata-buyer-key
      user-id: x-kraken-buyer-id

  workflow:
    base-url: https://external-kraken-conductor.dev.consolecore.io/api
    enabled: true
    enable-register-worker: true
