.header {
  height: 57px;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  border-bottom: 1px solid var(--border);

  .divider {
    height: 20px;
    margin: 0;
  }
}

.tooltip {
  div {
    z-index: 1;
  }

  display: flex;
  margin: 5px 5px 25px 5px;
  flex-direction: column;
  justify-content: center;
  row-gap: 10px;

  button {
    height: 0%;
    padding: 0 10px 0 10px;
  }
}

.logo {
  color: var(--primary) !important;
  display: flex;
  gap: 10px;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  line-height: 28px;
  font-family: "Inter", sans-serif;
}

.rightMenu {
  display: flex;
  justify-content: flex-end;
  gap: 14px;
}

.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  padding: 2px;
  width: 24px;
  aspect-ratio: 1 / 1;
  box-sizing: border-box;
  cursor: pointer;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px !important;
}

.select {
  color: var(--text-85);
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  width: fit-content;

  :global {
    .ant-select-selector {
      border: none !important;
      box-shadow: none !important;
      padding: 0 !important;
    }
  }
}

.tooltipBlue {
  :global {
    .ant-tooltip-arrow::before {
      background-color: #3391ff !important;
    }

    .ant-tooltip-inner {
      width: 230px;
      background: linear-gradient(180deg, #3391ff 33.85%, #466fff 100%);
      word-wrap: break-word;
    }

    .ant-tooltip-content:before {
      content: url("../../../public/tooltip.png");
      position: absolute;
      right: -3px;
    }
  }
}

.edit {
  position: absolute;
  bottom: 0;
  right: 0;
  border-radius: 100px;
  background: #f0f2f5;
  z-index: 4;
  width: 16px;
  height: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.root {
  width: 240px;
}

.avatarLg {
  text-transform: uppercase;
}
