.root {
  flex: 1;
  padding-left: 12px;
  display: flex;
  flex-direction: column;
}

.container {
  margin-top: 12px;
  border-top: 1px solid #0000000f;
  display: flex;
  flex: 1;

  .flexOne {
    flex: 1;
  }

  .upgradeStatuses {
    width: 240px;
    height: 100%;
    border-left: 1px solid var(--bg);
    padding-left: 12px;

    .tabTitle {
      padding: 10px 0;
      border-bottom: 1px solid var(--bg);
    }

    .statuses {
      flex: 1;
      padding: 12px 0;

      .empty {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;

        :global {
          .ant-empty-description {
            color: var(--disabled);
          }
        }
      }

      .stepInfo {
        font-size: 12px;
        margin: 0 0 4px 0;

        span:first-child {
          min-width: 30px;
          margin-right: 8px;
          display: inline-block;
        }
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  margin-bottom: 10px !important;
  margin-top: 10px;
  gap: 8px;

  &:before {
    content: "";
    display: block;
    width: 4px;
    height: 14px;
    border-radius: 80px;
    background-color: #096dd9;
  }
}

.content {
  margin-top: 12px;
  line-height: 22px;
}
