.content {
  margin-top: 16px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-height: calc(100% - 35px);
  overflow-y: auto;
}

.loading {
  min-height: 500px;
}

.card {
  border: 1px solid #dde1e5;
  border-radius: 6px;
  width: 100%;
  padding: 18px 20px;
  box-sizing: border-box;
  cursor: pointer;

  &:hover,
  &.active {
    background: #dbe4fb;
  }
}
