.activityWrapper {
  border-radius: 4px;
  border: 1px solid rgba(0, 0, 0, 0.25);
  overflow-y: auto;
}
.activityHeader {
  padding: 24px;
  background-color: #fafafa;
  border-bottom: 1px solid #f0f0f0;
  border-radius: 4px 4px 0 0;
}
.collapseWrapper:global(.ant-collapse-borderless) {
  background-color: transparent;
  &:global(> .ant-collapse-item) {
    border-bottom: 0;
  }
}

.tree {
  padding: 16px;
  border: 1px solid #ddd;
  background-color: #f5f5f5;
  max-height: 183px;
  overflow-y: auto;
  :global {
    .ant-tree-list {
      background-color: #f5f5f5;
    }
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      width: 100%;
      &:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.treeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
}

.treeExample {
  padding: 2px 4px;
  background: #fff;
}
