.root {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 16px 20px;
  background: #f0f2f5;
  min-height: calc(100% - 24px);
}

.tableWrapper {
  height: 100%;
  padding: 16px 20px;
  border-radius: 4px;
  background: #ffffff;
  margin-top: 8px;
}

.filterWrapper {
  display: flex;
  align-items: center;
  margin-bottom: 16px;

  :global(.ant-form-item label) {
    color: #000000d9;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    &::after {
      margin-inline-end: 2px !important;
    }
  }
  :global(.ant-form-item input::placeholder) {
    color: var(
      --character-disabled-placeholder-25,
      var(--text-disabled-placeholder, rgba(0, 0, 0, 0.25))
    );
  }
  :global(.ant-form-item .ant-select-selection-placeholder) {
    color: var(--Texts-Primary, var(--Text-primary, rgba(0, 0, 0, 0.85)));
  }
}

.table {
  max-width: 100%;
  &:global(.ant-table-wrapper) {
    .expandedRowWrapper {
      :global(.ant-table-cell) {
        padding: 0 24px;
      }
    }
    :global(.ant-table-cell-fix-left-last::after) {
      content: unset;
    }
  }
}
