.bar {
  min-width: 240px;
  width: 240px;
  padding: 24px 4px 16px;
  box-sizing: border-box;
  border-right: 1px solid #d9d9d9;
  height: calc(100vh - 58px);
  max-height: calc(100vh - 58px);
  background: #fff;
  position: sticky;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.barTop {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 16px;
}

.stepBar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: space-between;
  max-height: 40vh;
}

.step {
  gap: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
  span {
    color: #8c8c8c;
  }
  :global {
    .ant-avatar-circle {
      border: 2px solid #8c8c8c;
      border-radius: 50%;
      background: #fff;
    }
  }
}

.closeIcon {
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.active {
  font-weight: 700;
  color: #595959;
}

.version {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.collapseBtn {
  display: flex;
  justify-content: flex-end;
  margin-right: 24px;
}

.paper {
  margin-top: 4px;
  background: #fff;
  padding: 16px 20px;
}

.transfer {
  :global {
    .ant-transfer-list {
      height: calc(100vh - 234px);
      flex: 1;
    }
    .ant-transfer-operation {
      .ant-btn-primary {
        border-radius: 50% !important;
        background: #c9cdd4;
        color: #000;
        &:disabled {
          background: #f7f8fa;
          color: #c9cdd4;
        }
      }
    }
    .ant-input-affix-wrapper {
      background: #f7f8fa;
      input {
        order: 1;
      }
      .ant-input-prefix {
        order: 2;
      }
      .ant-input-suffix:not(:has(.ant-input-clear-icon-hidden)) {
        order: 3;
      }
      .ant-input-suffix:has(.ant-input-clear-icon-hidden) {
        display: none;
      }
    }
    .ant-transfer-list-header {
      background: #f7f8fa;
      label {
        order: 1;
      }
      .ant-transfer-list-header-title {
        text-align: left;
        order: 2;
      }
      .ant-transfer-list-header-selected {
        text-align: right;
        order: 3;
        color: #86909c;
        font-size: 12px;
      }
    }
    .ant-transfer-list-content-item {
      padding: 0;
    }
    .ant-checkbox-wrapper,
    .ant-transfer-list-content-item-text {
      padding: 5px 0 5px 12px;
    }
  }
}

.inputUrl {
  width: 50%;
  min-width: 200px;
}

.selectAPIWrapper {
  position: relative;
}

.tableSwagger {
  margin-top: 12px;
  width: 100%;
  box-sizing: border-box;
  .specialTd {
    background: #f5f5f5;
  }
  td {
    padding: 4px 0;
  }
  th {
    text-align: left;
  }
  border-spacing: 0;
}

.tableParams {
  margin-top: 12px;
}

.stepHandler {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 12px;
  margin-top: 14px;
}

.tree {
  margin-top: 12px;
  background: #f5f5f5;
  padding: 13px 0 0;
  :global {
    .ant-tree-list {
      background: #f5f5f5;
    }
    .ant-tree-treenode,
    .ant-tree-node-content-wrapper {
      width: 100%;
    }
  }
}

.nodeTitle {
  flex: 1;
  padding: 2px 4px;
  background: #fff;
  word-break: break-all;
}

.nodeExample {
  word-break: break-all;

  padding: 2px 4px;
  background: #fff;
  width: 200px;

  @media (max-width: 1600px) {
    width: 150px;
  }
}

.dragger {
  :global {
    .ant-upload-drag {
      width: 395px;
      height: fit-content;
    }
  }
}

.infoWrapper {
  overflow-y: auto;
  width: 100%;
  max-width: calc((100vw - 280px) * 2 / 3);
  padding: 10px 20px;
  box-sizing: border-box;
  height: calc(100vh - 192px);
  > div {
    position: relative;
  }
}

.infoRoot {
  background: #fff;
}

.infoHeader {
  padding: 16px 20px;
  border-bottom: 1px solid #f0f0f0;
  height: 58px;
  box-sizing: border-box;
}

.swaggerCollapse {
  :global {
    .ant-collapse-header {
      padding: 0 !important;
    }
    .ant-collapse-content-box {
      padding: 0 !important;
    }
  }
}

.hideRequired {
  :global {
    .ant-form-item-required::before {
      content: "" !important;
    }
  }
}
