.innerMenu {
  overflow: auto;
  border-inline-end: 0 !important;

  :global {
    .ant-menu {
      border-right: unset !important;
      background: unset !important;
      
    }

    .ant-menu-item, .ant-menu-submenu-title {
      &:hover {
        background: unset !important;
      }
    }

    .ant-menu-item-selected {
      border-radius: 0;
      background-color: rgba(41, 98, 255, 0.2) !important;
       &:hover {
        background: rgba(41, 98, 255, 0.2) !important;
      }
      border-right: 3px solid #2962FF !important;
      .ant-menu-item-only-child {
        border-right: 3px solid #2962FF !important;
      }
    }
  }
}

.sideBar {
  height: 100%;
  overflow: auto;
  background: #fff !important;
}

.siderBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.siderBottomVersion {
  padding-bottom: 12px;
}

.siderBottomCollapseWrapper {
  border-top: 1px solid var(--a-border);
  padding: 12px 24px;
}
