.innerMenu {
  overflow: auto;
  border-inline-end: 0 !important;

  :global {
    .ant-menu {
      border-right: unset !important;
      background: unset !important;
    }

    .ant-menu-item,
    .ant-menu-submenu-title {
      &:hover {
        background: unset !important;
      }
    }

    .ant-menu-item-selected {
      border-radius: 0;
      background-color: rgba(41, 98, 255, 0.2) !important;
      &:hover {
        background: rgba(41, 98, 255, 0.2) !important;
      }
      border-right: 3px solid #2962ff !important;
      .ant-menu-item-only-child {
        border-right: 3px solid #2962ff !important;
      }
    }
    .ant-menu-item:not(.ant-menu-item-selected):hover {
      background-color: #f5f5f5 !important;
      border-radius: 0;
    }
  }
}

.sideBar {
  height: 100%;
  overflow: auto;
  background: #fff !important;
}

.siderBottom {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.siderBottomVersion {
  padding: 0 10px 12px 10px;
  border-bottom: 1px solid var(--border);
}

.siderBottomCollapseWrapper {
  border-top: 1px solid var(--a-border);
  padding: 12px 24px;
}

.productionBy {
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: 6px;
  color: var(--text-secondary);
}
