.statusWrapper {
  --color-border: inherit;
  --color-background: inherit;
  border-radius: 4px;
  padding: 10px 20px;
  background-color: var(--color-background);
  color: var(--color-border);

  &.success {
    --color-border:#fff;
    --color-background: var(--Polar-Green-6, #52C41A);
  }
  &.error {
  --color-border:#fff;
    --color-background: var(--Accent-Accent_Red, #FF3864);
  }
  &.warning {

    --color-background: var(--Accent-Accent_Orange, #FF9A2E);
    --color-border:#fff;

  }
  &.notice {
    border: 10px;
    --color-background: var(--DayBreak-Blue-1, #E6F7FF);
    --color-border: var(--Text-secondary, rgba(0, 0, 0, 0.85));
    border-radius: 8px


    
  }
 
}

.dataPlaneInfo {
  border-radius: 4px;
  padding: 8px 0;
  color: #fff;
  .dataPlaneInfoIcon {
    color: rgba(#fff, 0.45);
  }
}