.homePage {
  background: var(--Page-bg, #f0f2f5);
  padding: 32px 20px 20px 20px;
  overflow-y: scroll;

  h1 {
    color: #343434;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 46px;
    margin: 0;
    margin-bottom: 24px;
  }
  .bottomItem {
    padding: 10px 20px;
    background: var(--Page-container-bg, #fff);
    color: var(--Text-Text_accent, #2962ff);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    cursor: pointer;
    flex: 1;
  }
}
