.homePage {
  width: 100%;
  min-height: calc(100vh - 58px);
  display: flex;
  justify-content: center;
  background: url('/homebg.svg');
  background-repeat: no-repeat;
  background-size: cover; 
  padding-bottom: 64px;
  box-sizing: border-box;
}

.cardWrapper {
  margin-top: 35px;
}

.container {
  width: 80%;
  padding-top: 10vh;
}
